<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Connect" connectionString="Data Source=DESKTOP-FT3KE12;Initial Catalog=TestApp;Integrated Security=True" />
	</connectionStrings>
	<appSettings>
		<add key="SaveLogs" value="true" />
	</appSettings>		
</configuration>